*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.link{
  display: inline-block;
  font-size: 24px;
  color: #ec7979;
  padding: 20px;
  background: #86878b;
  transition: 0.3s;
}

.link:hover{
  color: blue;
  background: wheat;
}

.link:active{
  color: red;
  background: yellow;
}


.block-link{
  display: none;
}

.link:hover .block-link{
  display: block;
}

input[type="text"]{

}

input[type="text"]:focus{
  background: red;
  color: #86878b;
  border: 5px solid forestgreen;
}

.btn{
  cursor: pointer;
}

.block-list{
  margin: 40px 0;
  border: 2px solid silver;
  padding: 20px;
}

.list__item{
  font-size: 20px;
  color: #86878b;
  padding: 10px 0;
  text-align: center;
 /* border: 2px solid rebeccapurple;*/
}

/*
.list__item:last-child{
  margin: 0;
}

.list__item:first-child{
  background: chocolate;
}*/

/*
.list__item:not(:last-child){
  margin-bottom: 10px;
}*/

.list__item:nth-child(even){
  background: silver;
}

.list__item:nth-child(odd){
  background: orange;
}

.list__item:nth-child(3n + 1){
  background: purple;
}



.title{
  position: relative;
  font-size: 24px;
  text-align: center;
  padding-bottom: 50px;
}

.title:after{
  position: absolute;
  content: "";
  width: 170px;
  height: 2px;
  background: red;
  left: 50% ;
  bottom: 0;
 /* left: calc(50% - 85px);*/
  transform: translate(-50%, -50%);
}


/*
.title:before{
  display: block;
  content: "some";
}

.title:after{
  display: block;
  content: url("https://ichef.bbci.co.uk/news/640/cpsprodpb/17638/production/_124800859_gettyimages-817514614.jpg");
  width: 170px;
  background: red;
}*/



/*
.list__item{
  width: 80%;
}*/

.list__item:after{
  display: inline-block;
  content: "";
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/1200px-Arrow-down.svg.png") no-repeat center/cover;
  width: 15px;
  height: 15px;
}

/*.list{
  position: relative;
}*/
/*
.list__item-1{
  position:relative;
  top: -20px;
  z-index: 10;
}

.list__item-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.list__item-3{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: blue !important;
  z-index: 1;
}*/


.list__item-1{
 position: sticky;
  top: 0;
}

.list__item-6{
  position: sticky;
  top: 0;
}


.overflow{
  width: 200px;
  height: 500px;
  overflow: hidden;
  margin: 40px auto;
  border: 2px solid silver;
  overflow-y: hidden;
}