*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

input{
  outline: none;
  padding-left: 30px;
}
input::placeholder{
  color: red;
}

textarea{
  resize: none;
  outline: none;
}
form{
  border: 2px solid silver;
  width: 600px;
  margin: 60px auto;
}




/*

.banner{
  position: relative;
  padding: 207px 0 185px;
  background: url("../assets/img/123.jpg") no-repeat center;
  background-size: cover;
}

.banner:before{
  position: absolute;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 50%;
}

.banner-content{
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.banner-title{
  max-width: 670px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner-form p{
  margin-bottom: 20px;
  color: #FFFFFF;
}


textarea{
 !* width: 400px;
  height: 200px;
  resize: none;
  outline: none;*!
!*
resize: vertical;
 resize: horizontal
  *!
!* *!
}


button{
  display: block;
  margin-bottom: 10px;
}
select{
  display: block;
  width: 300px;
  margin: 20px 0;
}

.block{
  background: black;
}

.block svg{
  fill:#CCCCCC;
}

.block:hover svg{
  fill: black;
}

.img-svg{
  fill:#CCCCCC;
}

.img-svg:hover svg{
  fill: black;
}
button{
  margin: 30px;
}


.new-form{
  padding: 80px 0 50px;
}


.form-content{
  display: flex;
  justify-content: space-between;
}

.form-content__item{
  display: flex;
  flex-direction: column;
  width: 49%;
}

.new-form-group{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.new-form-group:not(:last-child){
  margin-bottom: 50px;
}

.new-form input,
.new-form textarea{
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-left: 10px;
}

.new-form textarea{
 height: 100%;
}

.new-form label{
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}

.new-form-btn{
  display: block;
  width: 370px;
  padding: 20px 0;
  background: #EC7979;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  margin: 50px auto 0;
}

.new-form-btn:hover{
  background: green;
  color: white;
}



















*/
input[type="range"]{
  padding: 0;
}

select{
  margin: 100px 0;
  width: 100px;
  padding: 10px;
  border: 2px solid red;
}


details {
  position: relative;
  width: 300px;
  margin-right: 1rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: .5rem;
  height: .5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

ul {
  width: 100%;
  background: #ddd;
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type=radio]:checked {
  display: inline;
  --display: block;
}

input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}